border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  font 12px Helvetica, Arial, sans-serif
  min-height 1000px
  padding-top 70px

a.button
  background blue
  border-radius 5px
  color #ffffff
  padding 0 5px