<div>
	<h2>Roman Numerals Converter</h2>
    <hr />
	<form class="form-horizontal">
        <div class="form-group">
            <label for="numberInput" class="col-sm-2 control-label">Number</label>
            <div class="col-sm-6">
                <input type="number" id="numberInput" class="form-control" ng-model="number">
            </div>
        </div>
        <div class="form-group">
            <label for="romanNumeralInput" class="col-sm-2 control-label">Roman Numeral</label>
            <div class="col-sm-6">
                <input type="text" id="romanNumeralInput" class="form-control" ng-model="romanNumeral">
            </div>
        </div>
	</form>
</div>